In [1]:
import pandas as pd
import numpy as np

In [3]:
import os
os.chdir(r"C:\Users\varsh\Untitled Folder 1")

In [4]:
os.listdir()

['.ipynb_checkpoints',
 'categories.csv',
 'cities.csv',
 'countries.csv',
 'customers.csv',
 'employees.csv',
 'products.csv']

In [5]:
#Upload / Load CSV Files (Pandas Code)
categories = pd.read_csv("categories.csv")
products = pd.read_csv("products.csv")
categories = pd.read_csv("categories.csv")
customers = pd.read_csv("customers.csv")
employees = pd.read_csv("employees.csv")
cities = pd.read_csv("cities.csv")
countries = pd.read_csv("countries.csv")

In [6]:
def data_overview(df, name):
    print(f"\n--- {name} Dataset ---")
    print("Shape:", df.shape)
    print("\nData Types:\n", df.dtypes)
    print("\nMissing Values:\n", df.isnull().sum())

In [7]:
data_overview(products, "Products")
data_overview(categories, "Categories")
data_overview(customers, "Customers")
data_overview(employees, "Employees")
data_overview(cities, "Cities")
data_overview(countries, "Countries")

--- Products Dataset ---
Shape: (452, 9)

Data Types:
 ProductID         int64
ProductName      object
Price           float64
CategoryID        int64
Class            object
ModifyDate       object
Resistant        object
IsAllergic       object
VitalityDays    float64
dtype: object

Missing Values:
 ProductID       0
ProductName     0
Price           0
CategoryID      0
Class           0
ModifyDate      0
Resistant       0
IsAllergic      0
VitalityDays    0
dtype: int64

--- Categories Dataset ---
Shape: (11, 2)

Data Types:
 CategoryID       int64
CategoryName    object
dtype: object

Missing Values:
 CategoryID      0
CategoryName    0
dtype: int64

--- Customers Dataset ---
Shape: (98759, 6)

Data Types:
 CustomerID        int64
FirstName        object
MiddleInitial    object
LastName         object
CityID            int64
Address          object
dtype: object

Missing Values:
 CustomerID         0
FirstName          0
MiddleInitial    977
LastName           0
CityID             0
Address            0
dtype: int64

--- Employees Dataset ---
Shape: (23, 8)

Data Types:
 EmployeeID        int64
FirstName        object
MiddleInitial    object
LastName         object
BirthDate        object
Gender           object
CityID            int64
HireDate         object
dtype: object

Missing Values:
 EmployeeID       0
FirstName        0
MiddleInitial    0
LastName         0
BirthDate        0
Gender           0
CityID           0
HireDate         0
dtype: int64

--- Cities Dataset ---
Shape: (96, 4)

Data Types:
 CityID        int64
CityName     object
Zipcode       int64
CountryID     int64
dtype: object

Missing Values:
 CityID       0
CityName     0
Zipcode      0
CountryID    0
dtype: int64

--- Countries Dataset ---
Shape: (206, 3)

Data Types:
 CountryID       int64
CountryName    object
CountryCode    object
dtype: object

Missing Values:
 CountryID      0
CountryName    0
CountryCode    1
dtype: int64

In [9]:
#Remove Duplicates
products.drop_duplicates(inplace=True)
categories.drop_duplicates(inplace=True)
customers.drop_duplicates(inplace=True)
employees.drop_duplicates(inplace=True)
cities.drop_duplicates(inplace=True)
countries.drop_duplicates(inplace=True)

In [11]:
#handle Missing Values
products = products.fillna({
    "VitalityDays": 0,
    "IsAllergic": "Unknown",
    "Resistant": "Unknown"
})

In [13]:
customers.fillna({
    "Gender": "Unknown",
}, inplace=True)

In [14]:
cities.fillna("Unknown", inplace=True)
countries.fillna("Unknown", inplace=True)

In [15]:
#Convert Date Columns to DateTime
products["ModifyDate"] = pd.to_datetime(products["ModifyDate"], errors="coerce")

In [18]:

customers.columns

Index(['CustomerID', 'FirstName', 'MiddleInitial', 'LastName', 'CityID',
       'Address'],
      dtype='object')

In [19]:
# Remove leading/trailing spaces and make consistent
customers.columns = customers.columns.str.strip()
customers.columns = customers.columns.str.replace(" ", "_")  # optional
print(customers.columns)

Index(['CustomerID', 'FirstName', 'MiddleInitial', 'LastName', 'CityID',
       'Address'],
      dtype='object')

In [23]:
# Check for similar names
[col for col in customers.columns if "date" in col.lower()]

[]

In [24]:
employees["HireDate"] = pd.to_datetime(employees["HireDate"], errors="coerce")

In [25]:
#rename Columns
products.columns = products.columns.str.lower()
categories.columns = categories.columns.str.lower()
customers.columns = customers.columns.str.lower()
employees.columns = employees.columns.str.lower()
cities.columns = cities.columns.str.lower()
countries.columns = countries.columns.str.lower()

In [27]:
#Validate key columns
# Customers – CityID validation
assert customers["cityid"].notnull().all()
assert customers["cityid"].dtype in [np.int64, np.int32]

# Employees – CityID validation
assert employees["cityid"].notnull().all()
assert employees["cityid"].dtype in [np.int64, np.int32]

In [29]:
#category validation
products = products[products["categoryid"].isin(categories["categoryid"])]

In [30]:
#city validation
customers = customers[customers["cityid"].isin(cities["cityid"])]
employees = employees[employees["cityid"].isin(cities["cityid"])]

In [31]:
#final cleaned data set
data_overview(products, "Cleaned Products")
data_overview(customers, "Cleaned Customers")
data_overview(employees, "Cleaned Employees")

--- Cleaned Products Dataset ---
Shape: (452, 9)

Data Types:
 productid                int64
productname             object
price                  float64
categoryid               int64
class                   object
modifydate      datetime64[ns]
resistant               object
isallergic              object
vitalitydays           float64
dtype: object

Missing Values:
 productid       0
productname     0
price           0
categoryid      0
class           0
modifydate      0
resistant       0
isallergic      0
vitalitydays    0
dtype: int64

--- Cleaned Customers Dataset ---
Shape: (98759, 6)

Data Types:
 customerid        int64
firstname        object
middleinitial    object
lastname         object
cityid            int64
address          object
dtype: object

Missing Values:
 customerid         0
firstname          0
middleinitial    977
lastname           0
cityid             0
address            0
dtype: int64

--- Cleaned Employees Dataset ---
Shape: (23, 8)

Data Types:
 employeeid                int64
firstname                object
middleinitial            object
lastname                 object
birthdate                object
gender                   object
cityid                    int64
hiredate         datetime64[ns]
dtype: object

Missing Values:
 employeeid       0
firstname        0
middleinitial    0
lastname         0
birthdate        0
gender           0
cityid           0
hiredate         0
dtype: int64

In [32]:
products.to_csv("clean_products.csv", index=False)
categories.to_csv("clean_categories.csv", index=False)
customers.to_csv("clean_customers.csv", index=False)
employees.to_csv("clean_employees.csv", index=False)
cities.to_csv("clean_cities.csv", index=False)
countries.to_csv("clean_countries.csv", index=False)

In [ ]:
### Data Cleaning Summary
#- Removed duplicate records
#- Handled missing values using median and default values
#- Converted date columns to datetime format
##- Standardized column names
##- Ensured referential integrity between datasets
- Saved cleaned datasets for further analysis