In [19]:
#Import Required Libraries
import pandas as pd
import numpy as np

In [6]:
import os
os.chdir(r"C:\Users\varsh\Untitled Folder 1")

In [7]:
os.listdir()

['.ipynb_checkpoints',
 'categories.csv',
 'cities.csv',
 'countries.csv',
 'customers.csv',
 'employees.csv',
 'products.csv']

In [20]:
#Upload / Load CSV Files (Pandas Code)
categories = pd.read_csv("categories.csv")
products = pd.read_csv("products.csv")
categories = pd.read_csv("categories.csv")
customers = pd.read_csv("customers.csv")
employees = pd.read_csv("employees.csv")
cities = pd.read_csv("cities.csv")
countries = pd.read_csv("countries.csv")

In [10]:
products.head()

,ProductID,ProductName,Price,CategoryID,Class,ModifyDate,Resistant,IsAllergic,VitalityDays
0,1,Flour - Whole Wheat,74.2988,3,Medium,2018-02-16 08:21:49.190,Durable,Unknown,0.0
1,2,Cookie Chocolate Chip With,91.2329,3,Medium,2017-02-12 11:39:10.970,Unknown,Unknown,0.0
2,3,Onions - Cippolini,9.1379,9,Medium,2018-03-15 08:11:51.560,Weak,False,111.0
3,4,"Sauce - Gravy, Au Jus, Mix",54.3055,9,Medium,2017-07-16 00:46:28.880,Durable,Unknown,0.0
4,5,Artichokes - Jerusalem,65.4771,2,Low,2017-08-16 14:13:35.430,Durable,True,27.0

In [11]:
categories.head()

   CategoryID CategoryName
0           1  Confections
1           2   Shell fish
2           3      Cereals
3           4        Dairy
4           5    Beverages

In [21]:
#Dataset Information
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductID     452 non-null    int64
 1   ProductName   452 non-null    object
 2   Price         452 non-null    float64
 3   CategoryID    452 non-null    int64
 4   Class         452 non-null    object
 5   ModifyDate    452 non-null    object
 6   Resistant     452 non-null    object
 7   IsAllergic    452 non-null    object
 8   VitalityDays  452 non-null    float64
dtypes: float64(2), int64(2), object(5)
memory usage: 31.9+ KB

In [13]:
products.describe()

        ProductID       Price  CategoryID  VitalityDays
count  452.000000  452.000000  452.000000    452.000000
mean   226.500000   50.801471    5.862832     26.030973
std    130.625419   28.616724    3.271694     39.061200
min      1.000000    0.044900    1.000000      0.000000
25%    113.750000   26.504350    3.000000      0.000000
50%    226.500000   52.499500    6.000000      0.000000
75%    339.250000   75.496450    9.000000     52.500000
max    452.000000   99.875500   11.000000    120.000000

In [22]:
#Shape of Dataset
print("Rows and Columns:", products.shape)

Rows and Columns: (452, 9)

In [15]:
products.columns

Index(['ProductID', 'ProductName', 'Price', 'CategoryID', 'Class',
       'ModifyDate', 'Resistant', 'IsAllergic', 'VitalityDays'],
      dtype='object')

In [16]:
products.isnull().sum()

ProductID       0
ProductName     0
Price           0
CategoryID      0
Class           0
ModifyDate      0
Resistant       0
IsAllergic      0
VitalityDays    0
dtype: int64

In [17]:
#Data Types
products.dtypes

ProductID         int64
ProductName      object
Price           float64
CategoryID        int64
Class            object
ModifyDate       object
Resistant        object
IsAllergic       object
VitalityDays    float64
dtype: object

In [18]:
products["CategoryID"].unique()

array([ 3,  9,  2,  8,  5, 11,  4,  7,  1, 10,  6], dtype=int64)

In [23]:
### Observations
#- Products dataset contains pricing and category information
#- No missing values found in key columns
#- CategoryID will be used for joining with categories table